<section class="text-white w-full flex flex-col justify-center items-center">
    <div
        class="flex flex-col justify-center items-center p-12 gap-5 w-1/2 mb-10 backdrop-blur-sm bg-black bg-opacity-10 rounded-3xl mobile:w-full">
        <h1 class="text-3xl font-bold text-center uppercase tracking-[0.8rem]">
            About me
        </h1>
        <div class="flex flex-row w-full h-[400px] my-7">
            <span class="flex flex-wrap">
                <img
                    src="/assets/images/kambodja1.jpg"
                    alt="kambodja1"
                    class="w-1/2 object-cover rounded-tl-3xl mobile:w-full mobile:rounded-tr-3xl" />
                <img
                    src="/assets/images/kambodja2.jpg"
                    alt="kambodja2"
                    class="w-1/2 object-cover mobile:w-full mobile:rounded-b-3xl" />
                <img
                    src="/assets/images/australien.jpg"
                    alt="australien"
                    class="w-1/2 object-cover rounded-bl-3xl mobile:hidden" />
                <img
                    src="/assets/images/horses.jpg"
                    alt="horses"
                    class="w-1/2 object-cover mobile:hidden" />
            </span>
            <img
                src="/assets/images/edinburgh.jpg"
                alt="edinburgh"
                class="w-1/3 object-cover rounded-r-3xl mobile:hidden" />
        </div>
        <span
            class="flex flex-col gap-5 leading-relaxed w-full px-20 tracking-wide mobile:px-2">
            <p>
                Hello fellow travelers and wanderlust enthusiasts! Welcome to
                The Travel Blog, where the world becomes your playground, and
                every journey is an opportunity to create lasting memories.
            </p>

            <p>
                I'm Joel Davidsson, your virtual travel companion and
                storyteller, eager to share my passion for exploration, culture,
                and adventure. As a fervent explorer with an insatiable
                curiosity, I've embarked on journeys across diverse landscapes,
                from the bustling streets of Tokyo to the tranquil beaches of
                Bali. My travel philosophy is simple: embrace the unknown, savor
                every moment, and seek out the extraordinary in the ordinary.
            </p>

            <p>
                Growing up, my family instilled in me a love for discovering new
                places and immersing myself in different cultures. Those early
                experiences laid the foundation for a lifelong pursuit of
                diverse and enriching travel encounters. From navigating the
                vibrant souks of Marrakech to hiking the breathtaking Tongariro
                Alpine Crossing in New Zealand, each destination has left an
                indelible mark on my heart.
            </p>

            <p>
                My fascination with travel extends beyond the well-trodden
                tourist paths. I derive immense joy from uncovering the hidden
                gems, the local haunts, and the authentic experiences that make
                each destination unique. Whether it's stumbling upon a charming
                patisserie in the heart of Paris or savoring street food
                delicacies in the lively alleys of Tokyo, I'm on a mission to
                unearth the stories that make a place truly memorable.
            </p>
            <p>
                Through my blog, I aim to inspire fellow adventurers to step off
                the beaten path and embrace the beauty of exploration. This blog
                is not just about destinations; it's about the people, the
                flavors, the sights, and the sounds that make each journey an
                immersive experience. Expect a blend of practical travel advice,
                cultural insights, and personal anecdotes that transport you to
                the heart of every location.
            </p>
            <p>
                Join me as we traverse the globe together, discovering the
                extraordinary in the ordinary and sharing a collective love for
                the beauty that exists within our diverse world. Whether you're
                a seasoned traveler or a first-time explorer, I hope my insights
                and recommendations will kindle your wanderlust and encourage
                you to embark on your own transformative adventures. So, fasten
                your seatbelts, pack your bags, and let's embark on this
                exhilarating journey together. The world is waiting to be
                explored, and I can't wait to share the wonders it holds with
                you.
            </p>
            <p>Happy travels! <br />Joel</p>
        </span>
        <p class="text-lg">
            If you wish to contact me, click
            <a
                routerLink="/contact"
                class="uppercase font-bold hover:text-black"
                >here!</a
            >
        </p>
    </div>
</section>
