<nav
    class="flex w-full h-20 items-center justify-center text-white mobile:flex-col">
    <span class="w-2/6 cursor-pointer mobile:w-full" routerLink="">
        <p
            class="uppercase font-extrabold text-5xl tracking-widest mobile:text-2xl mobile:text-center">
            The travel blog
        </p>
        <p
            class="uppercase tracking-[0.24em] mobile:text-xs mobile:text-center">
            Inspiration for your next big adventure
        </p>
    </span>
    <menu
        class="flex w-3/6 justify-end font-semibold text-lg mobile:text-sm mobile:w-full mobile: mt-6 mobile:justify-center">
        <ul class="flex gap-12 mobile:gap-3">
            <li class="hover:text-black">
                <a routerLink="">HOME</a>
            </li>
            <li class="hover:text-black">
                <a routerLink="/about">ABOUT ME</a>
            </li>
            <li class="hover:text-black" *ngIf="adminModeService.isAdmin()">
                <a routerLink="/admin">CREATE NEW POST</a>
            </li>
            <button class="hover:text-black" (click)="toggleAdminMode()">
                SWITCH TO {{ adminModeService.isAdmin() ? 'USER' : 'ADMIN' }}
            </button>
        </ul>
    </menu>
</nav>
