<nav class="flex w-screen h-28 items-center justify-center text-white">
    <span class="font-extrabold text-2xl">myTravelRecommendations</span>
    <menu class="flex w-2/3 justify-end font-semibold">
        <ul class="flex gap-12">
            <li class="hover:text-black">
                <a routerLink="">HOME</a>
            </li>
            <li class="hover:text-black">
                <a routerLink="/about">ABOUT ME</a>
            </li>
            <li class="hover:text-black">
                <a routerLink="/contact">CONTACT</a>
            </li>
            <li class="hover:text-black" *ngIf="adminModeService.isAdmin()">
                <a routerLink="/admin">CREATE NEW POST</a>
            </li>
            <button class="hover:text-black" (click)="toggleAdminMode()">
                SWITCH TO {{ adminModeService.isAdmin() ? 'USER' : 'ADMIN' }}
            </button>
        </ul>
    </menu>
</nav>
